.pry-btn,
.sec-btn,
.danger-btn,
.txt-btn {
    border: none;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.danger-btn:disabled,
.pry-btn:disabled,
.sec-btn:disabled,
.txt-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transform: none;
}
.danger-btn,
.pry-btn,
.sec-btn {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    transition: background-color 0.5s ease-in-out;
    border-radius: 10px;
}

.pry-btn {
    background-color: var(--primary);
}

.pry-btn:hover,
.sec-btn:hover {
    background-color: var(--accent);
}

.pry-btn:active,
.sec-btn:active {
    background-color: var(--text);
    color: var(--bg);
}

.sec-btn {
    background-color: var(--secondary);
}

.txt-btn {
    background: none;
    color: var(--primary);
    transition: color 0.5s ease-in-out;
    font-size: 1rem;
}

.txt-btn:hover {
    background: none;
    color: var(--secondary);
    border: 2px solid var(--text);
    border-radius: 5px;
}
.danger-btn {
    background-color: var(--secondary);
}
.danger-btn:hover {
    background-color: var(--warning-bg);
    color: var(--warning);
}

@media screen and (min-width: 480px) {
    .danger-btn,
    .pry-btn,
    .sec-btn {
        font-size: 1.5rem;
    }

    .txt-btn {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .danger-btn,
    .pry-btn,
    .sec-btn {
        font-size: 1.7rem;
    }

    .txt-btn {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1280px) {
    .danger-btn,
    .pry-btn,
    .sec-btn {
        font-size: 2rem;
    }

    .txt-btn {
        font-size: 1.7rem;
    }
}